.navbar{
    height:70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 30px;
    background:white;
    border-bottom:1px solid #ddd;
}

.navbar-right{
    display:flex;
    align-items:center;
    gap:20px;
}